<%- include ../layouts/header.ejs %> 
    <br>
    <br>
    <a href="/libros/crear" class="btn btn-primary" type="button">Agregar</a>
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% for( let index = 0; index < libro.length; index++ ) { %>
          <tr>
            <td scope="row"><%=libro[index].id%></td>
            <td><%=libro[index].titulo%></td>
            <td><%=libro[index].imagen%></td>
            <td> Edicion / Eliminacion </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <%- include ../layouts/footer.ejs %> 